@model Product
@{
ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="Home" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId " class="form-label">Category</label>
        <select asp-for="CategoryId "  class="form-select">
            @foreach (var item in ViewBag.Categories)
            {
            <option value="@item.CategoryId ">@item.Name</option>
            }
        </select>
    </div>

    <div class="mb-3 form-check">
        <input type="hidden" name="IsActive" value="false" />
        <input asp-for="IsActive"  class="form-check-input">
        <label asp-for="IsActive" class="form-check-label">Is Active</label>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>